body {
    margin:0;
    font-family: "Lucida Console", monospace;
    font-size: 15px;
    line-height: 18px;
    overflow: hidden;
  }

  #info{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 5px;
    font-family: inherit;
  }

  #fileInfo{
    pointer-events: none;
    color: #b64eff;
  }

  #navInfo {
    position: absolute;
    bottom: 0;
    left: 30%;
    right: 30%;
    text-align: center;
    padding: 5px;
    font-family: inherit;
    background-color: rgba(255, 255, 255, 0.7);
    border-top-style: solid;
    border-top-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-color: #FFF;
  }

  #fileInput{
    font-family: inherit;
  }
  
  #surfaceOpener {
    display: none;
  }

  /* for AR functionality */
  #overlay-content {
    position: absolute;
    left: calc(50% - 7rem);
    /* Comment display none for dom overlay to work */
    /* display: none; */
  }
  #range-container{
    margin-top: 50px;
  }
  #clip-options {
    visibility: hidden;
  }
  
  #range-scale {
    visibility: hidden;
  }
  
  #range-clip {
    visibility: hidden;
  }
  #label-scale {
    visibility: hidden;
  }